<h2>Template</h2>
<h3>Text Interpolation</h3>
<p>{{ name }} - Soma: {{ sum(10, 20) }}</p>

<p>{{ condition }}</p>

<hr />

<h2>Property Binding</h2>
<button type="button" [disabled]="isDisabled" title="{{name}}">Button</button>
<!-- <img [src]="srcValue" alt="{{name}}" title="title" /> -->

<hr />

<h2>Attribute Binding</h2>
<p [attr.title]="condition" [attr.aria-label]="name">Guilherme Kuhnen</p>

<hr />

<h2>Class and Style Binding</h2>
<p [class.background-red]="age >= 25" [class.background-blue]="age >= 30">{{ name }}</p>
<p [style.text-decoration]="isTextDecoration">{{ age }}</p>

<hr />
<h2>Event Binding</h2>
<button (click)="sumAge()">+</button>
<button (click)="subAge()">-</button>
<br />
<input (keydown.shift.t)="onKeyDown($event)" title="Input" placeholder="" />

<div style="background: red; width: 30px; height: 30px; margin-top: 10px;" (mousemove)="onMouseMove($event)"></div>

<hr />
<h2>Two-way Binding</h2>
<input type="text" [(ngModel)]="name" title="Name" placeholder="" />

{{ name }}

<hr />
<h2>Diretivas de atributos</h2>
<div [ngClass]="{ 'background-red': isDisabled, }">Classes condicionais</div>

<div [ngStyle]="{ color: age >= 30 ? 'green' : 'blue' }">Estilo dinâmico</div>