<header>
  <img
    src="assets/img/guilherme.jpeg"
    alt="Guilherme Kuhnen - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Guilherme Kuhnen</h1>
</header>
<aside>
  <div class="container">
    <p>Especialista em Governança de TI | Desenvolvedor C# | .Net | Asp .Net</p>
    <p>Blumenau, Santa Catarina, Brasil</p>
    <p>
      Reza a lenda que aqui eu devo escrever algo inspirador exaltando minhas
      qualidades, mas na verdade, simplicidade sempre foi a palavra que tem me
      guiado no ambiente profissional. Aquele lema de não matar uma formiga com
      uma bazuca.
    </p>
    <p>Ahh... também sou bom na cozinha, faço churrasco e conto piadas.</p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/guilherme-kuhnen-4a326aa7/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5547991075595&text=Ol%C3%A1%20Guilherme,%20vamos%20conversar?"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (47) 9 9107-5595</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:guijkuhnen@hotmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>guijkuhnen&#64;hotmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
