<h2>Animations</h2>

@if (moveIn() == 'move-right') {
  <div class="ball" [@move-ball]="moveIn()"></div>
}
<br />
<button (click)="moveIn.set('move-left')">Move Left</button>
<button (click)="moveIn.set('move-right')">Move Right</button>

<hr>

moveIn: {{ moveIn() }}

<hr>

<button (click)="addNewItem()">Add</button>

<ul [@list-items]="listItems().length">
  @for (item of listItems(); track item; let i = $index) {
    <li>{{ item.name }} - <button (click)="deleteItem(i)">Delete</button></li>
  }
</ul>